#*/storage/
/storage/app/redirects.csv

### Exclude static pages due to preservering changes by online editting:
/themes/*/content/
/themes/*/meta/

/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
.ftpconfig
selenium.php
composer.lock
package-lock.json
/node_modules
_ide_helper.php
.phpunit.result.cache

# for netbeans
nbproject

/public/hot
/public/storage
/storage/*.key
*.LCK
.dropbox
desktop.ini
sh.exe.stackdump
*/vendor/
*/install_files/
*/bower_components/
/storage/framework/cache/

auth.json
.vscode/
.phpstorm.meta.php

